.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.black-nav{
  background-color: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}
.list{
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.SearchBar {
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}
.modal{
  margin-top:20px;
  padding: 20px;
  background-color: green;
}
.text-mode{
  width: 50%;
}
.tree-mode{
  width: 50%;
}
.AppName{
  width: 100%;
  font-size: 30px;
  font-weight: bolder;
}
.TextBox{
  width: 100%;
  height: 500px;
  font-size: 15px;
  align-content: center;
}
.submitBtn{width: 100%}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-tree-container {
  list-style: none;
  padding: 0;
}

.d-tree-node {
  padding: 0.75rem 1.25rem;
}

.d-tree-toggler.active {
  transform: rotate(45deg);
}

.TreeContainer{
  height: 500px;
  width: 100%
}
.left {
  width: 20%;
  height: 100%;
  border-right:10px solid;
  float: left;
}
.right {
  width: 80%;
  height: 100%;
  float: right;
}
ul{
  list-style: none;
}
li{
  list-style: none;
}
